$accent: #E30611;
$head-text: #001424;
$gray: #6E7782;
$button: #DD0000;
$regular: 'MTSSans-Regular', 'Arial', sans-serif;
$medium: 'MTSSans-Medium', 'Arial', sans-serif;
$bold: 'MTSSans-Bold', 'Arial', sans-serif;