@font-face {
    font-family: "OpenSans-Regular";
    src: url("./fonts/OpenSans-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/OpenSans-Regular.svg") format("svg"), /* Legacy iOS */
      url("./fonts/OpenSans-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/OpenSans-Regular.woff") format("woff"), /* Modern Browsers */
      url("./fonts/OpenSans-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  
  @font-face {
    font-family: "OpenSans-Italic";
    src: url("./fonts/OpenSans-Italic.eot"); /* IE9 Compat Modes */
    src: url("./fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/OpenSans-Italic.svg") format("svg"), /* Legacy iOS */
      url("./fonts/OpenSans-Italic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/OpenSans-Italic.woff") format("woff"), /* Modern Browsers */
      url("./fonts/OpenSans-Italic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: "Cormorant-Regular";
    src: url("./fonts/Cormorant-Regular.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Cormorant-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/Cormorant-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/Cormorant-Regular.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Cormorant-Regular.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Marianna";
    src: url("./fonts/marianna.eot"); /* IE9 Compat Modes */
    src: url("./fonts/marianna.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/marianna.svg") format("svg"), /* Legacy iOS */
      url("./fonts/marianna.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/marianna.woff") format("woff"), /* Modern Browsers */
      url("./fonts/marianna.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "MinionPro-Regular";
    src: url("./fonts/Minion-Pro30658.eot"); /* IE9 Compat Modes */
    src: url("./fonts/Minion-Pro30658.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/Minion-Pro30658.svg") format("svg"), /* Legacy iOS */
      url("./fonts/Minion-Pro30658.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/Minion-Pro30658.woff") format("woff"), /* Modern Browsers */
      url("./fonts/Minion-Pro30658.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

