@import "variables";
@import "fonts";

.mobile {
    display: none;
}

.desktop {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    width: 100%;
}

.banner {
    margin-bottom: 82px;
    img {
        width: 100%;
        height: auto;
    }
}

.ideas {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-bottom: 67px;
    div {
        width: 50%;
    }

    &__img-block {
        position: relative;
        margin-left: 40px;
        img {
            width: 100%;
        }
    }

    &__text-block {
        h1 {
            font-size: 70px;
            line-height: 88px;
            font-family: $marianna;
            color: #000;
            text-align: center;
            margin-top: 86px;
            margin-bottom: 12px;
            font-weight: normal;
        }

        p {
            font-family: $open;
            font-size: 18px;
            line-height: 32px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .parallax {
        position: absolute;
        width: 712px;
        justify-content: space-around;
        display: flex;
        height: 300px;
        bottom: 0;
        right: 0;
        align-items: flex-end;
    }
}

@media (max-width: 992px) {
    .ideas {
        h1 {
            margin-top: 68px;
            font-size: 57px;
            line-height: 88px;
        }

        p {
            font-size: 15px;
            line-height: 23px;
        }
    }
}

@media (max-width: 768px) {

    .desktop {
        display: none;
    }

    .mobile {
        display: block;
    }
    .container {
        max-width: 768px;
        margin: 0 auto;
    }

    main {
        max-width: 768px;
        margin-left: 20px;
        margin-right: 20px;
    }

    .banner {
        margin-bottom: 26px;
    }

    .ideas {
        flex-direction: column-reverse;
        position: relative;
        div {
            width: 100%;
        }

        &__text-block {
            h1 {
                margin-top: 0;
                margin-bottom: 0;
                font-size: 50px;
                line-height: 63px;
            }
            p {
                font-size: 15px;
                line-height: 28px;
                margin-top: 11px;
                margin-bottom: 42px;
                br {
                    display: none;
                }
            }
        }

        &__img-block {
            margin-left: 0;
        }
    }

}

.slider-block {
    background-image: url("../img/bg-slider.png");
    background-repeat: no-repeat;
    background-position: left top;

    h2 {
        font-size: 70px;
        line-height: 88px;
        font-family: $marianna;
        color: #000;
        text-align: left;
        padding-top: 34px;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: normal;
        margin-left: 60px;
    }

    .slider {
        text-align: right;
        display: flex;
        padding-right: 99px;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        position: relative;

    }

    .owl-carousel {
        max-width: 718px;
    }

    .my-owl-nav {
        position: absolute;
        top: 19%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1;
        max-width: 898px;
        right: 10px;
        .my-prev-button {
            background-image: url("../img/prev.svg");
            background-repeat: no-repeat;
            background-position: center center;
            width: 80px;
            height: 80px;
            background-color: #fff;
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
            box-shadow: 0 0 20px #FCC8CF;
            font-size: 0;
            cursor: pointer;
            &:focus,
            &:hover {
                outline: none !important;
                box-shadow: 0 0 20px #FF8C9B;
                transition: 400ms;
                -webkit-transition: 400ms;
                -moz-transition: 400ms;
                -ms-transition: 400ms;
                -o-transition: 400ms;
            }
        }
        .my-next-button {
            background-image: url("../img/next.svg");
            background-repeat: no-repeat;
            background-position: center center;
            width: 80px;
            height: 80px;
            background-color: #fff;
            border-radius: 40px;
            -webkit-border-radius: 40px;
            -moz-border-radius: 40px;
            -ms-border-radius: 40px;
            -o-border-radius: 40px;
            box-shadow: 0 0 20px #FCC8CF;
            font-size: 0;
            cursor: pointer;
            &:focus,
            &:hover {
                outline: none;
                box-shadow: 0 0 20px #FF8C9B;
                transition: 200ms;
                -webkit-transition: 400ms;
                -moz-transition: 200ms;
                -ms-transition: 200ms;
                -o-transition: 200ms;
            }
        }
    }

    .product {
        text-decoration: none;
        color: #333;
        .img {
            overflow: hidden;
            border: 5px solid #fff;
        }
        img {
            transition: all 1s ease-out;
            &:hover {
                transform: scale(1.1);
            }
        }
        &-name {
            height: 96px;
            margin-top: 0;
            margin-bottom: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;
            font-family: $cormorant;
            font-size: 20px;
            text-transform: uppercase;
            text-align: center;
            padding-top: 23px;
            position: relative;
            margin-bottom: 86px;

            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 50%;
                width: 160px;
                height: 1px;
                background: #333;
                transform: translateX(-50%);
            }
        }

        .price {
            margin-top: 23px;
            font-family: $openi;
            font-style: italic;
            font-size: 12px;
            line-height: 18px;
            text-align: center;

            .old-price {
                text-decoration: line-through;
            }

            .new-price {
                font-family: $mini;
                font-size: 50px;
                line-height: 60px;
                color: #FF0000;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }

    .slider-button {
        margin-bottom: 41px;
        display: flex;
        justify-content: center;
        width: 100%;
        a {
            width: 357px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #E36FA4;
            color: #fff;
            font-family: $open;
            font-size: 14px;
            line-height: 19px;
            text-transform: uppercase;
            height: 52px;
            text-decoration: none;
            cursor: pointer;
            margin-left: 51px;

            &:focus,
            &:hover {
                background-color: #E5458E;
                transition: 400ms;
                -webkit-transition: 400ms;
                -moz-transition: 400ms;
                -ms-transition: 400ms;
                -o-transition: 400ms;
                border: none;
                outline: none;
            }
        }
    }
}

.desktop.par {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.banner-end {
    img {
        position: relative;
        width: 100%;
        bottom: -4px;
    }
}

@media (max-width: 992px) {
    .slider-block .slider {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding-right: 0;
    }

}

@media (max-width: 919px) {
    .slider-block .my-owl-nav {
        position: absolute;
        top: 19%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 22;
        max-width: 836px;
        right: 0;
    }
}

@media (max-width: 768px) {
    .slider-block {
        background: 0 0;
        h2 {
            text-align: center;
            margin-left: 0;
        }

        .owl-carousel {
            width: 100%;
            max-width: inherit;
            margin-top: 40px;

            .product {
                img {
                    max-width: 220px;
                    margin: 0 auto;
                }

                &-name {
                    font-size: 20px;
                    max-width: 220px;
                    margin: 0 auto;
                }
            }
        }

        .slider {
            display: block;
            padding-left: 40px;
            padding-right: 40px;
            &-button {
                a {
                    width: 299px;
                    margin-left: 0;
                }
            }
        }
    }

    .slider-block .my-owl-nav .my-next-button {
        background-color: transparent;
        box-shadow: 0 0 0;
        background-image: url("../img/mobile-next.svg");
        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            box-shadow: 0 0 0;
            outline: none;
        }
    }

    .slider-block .my-owl-nav .my-prev-button {
        background-color: transparent;
        box-shadow: 0 0 0;
        &:active,
        &:focus,
        &:hover {
            background-color: transparent;
            box-shadow: 0 0 0;
            outline: none;
        }
    }

    .slider-block .my-owl-nav {
        position: absolute;
        top: 0;
        width: calc(100% + 40px);
        display: flex;
        justify-content: space-between;
        z-index: 22;
        max-width: 836px;
        right: -20px;
        top: 26%;
        transform: translateY(-50%);
    }

}

@media (max-width: 400px) {
    .slider-container {
        margin-bottom: 78px;
    }

    .slider-block .slider-button {
        position: absolute;
        z-index: 2;
        bottom: -74px;
        left: 0;
    }
}
