$marianna: 'Marianna', 'Arial', sans-serif;
$cormorant: 'Cormorant-Regular', 'Arial', sans-serif;
$open: 'OpenSans-Regular', 'Arial', sans-serif;
$openi: 'OpenSans-Italic', 'Arial', sans-serif;
$mini: 'MinionPro-Regular', 'Arial', sans-serif;